#header{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#container {
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#Description{
    padding: 5px;
}
#content{
    padding: 10px;
    max-width: 80vw;
}

#aspects{
    padding: 10px;
    max-width: 80vw;
}

#aspect_terms{
    padding: 10px;
    max-width: 80vw;
}

#footer {
    clear: both;
    text-align: right;
}